<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ljh.mapper.EnterpriseMapper">
	<resultMap type="Enterprise" id="enterpriseMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="address" property="address" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<select id="loadEnterprisesByParams" resultMap="enterpriseMap">
		select id, name, address, create_time from enterprise
		order by create_time desc
		limit #{start}, #{pageSize}
	</select>
	<insert id="insertEnterprise" parameterType="Enterprise">
		insert into enterprise(id, name, address, create_time)
		values(#{enterprise.id}, #{enterprise.name}, #{enterprise.address}, sysdate())
	</insert>
	<delete id="delEnterpriseById">
		delete from enterprise where id=#{id}
	</delete>
</mapper>