<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.ljh.mapper.RectificationMainMapper">
	<resultMap type="RectificationMain" id="rectificationMainMap">
		<id column="id" property="id" />
		<result column="enterprise_id" property="enterpriseId" />
		<result column="check_date" property="checkDate" />
		<result column="check_person" property="checkPerson" />
		<result column="duty_unit" property="dutyUnit" />
		<result column="duty_person" property="dutyPerson" />
		<result column="finish_date" property="finishDate" />
		<result column="reviewed" property="reviewed" />
		<result column="recorded" property="recorded" />
		<result column="remark" property="remark" />
		<result column="fill_unit" property="fillUnit" />
		<result column="fill_person" property="fillPerson" />
	</resultMap>
	<resultMap type="RectificationMainExt" id="rectificationMainExtMap" extends="rectificationMainMap">
		<result column="enterprise_name" property="enterpriseName" />
		<result column="enterprise_address" property="enterpriseAddress" />
		<collection property="links" ofType="RectificationLink">
			<id column="link_id" property="id" />
			<result column="link_situation_id" property="situationId" />
			<result column="link_method" property="method" />
			<result column="link_part" property="part" />
			<result column="link_rectificate_date" property="rectificateDate" />
			<result column="link_remark" property="remark" />
		</collection>
	</resultMap>
	<resultMap type="RectificationMainBranch" id="rectificationMainBranchMap">
		<id column="id" property="id" />
		<result column="check_date" property="checkDate" />
		<result column="enterprise_name" property="enterpriseName" />
		<result column="reviewed" property="reviewed" />
		<result column="recorded" property="recorded" />
	</resultMap>
	<select id="loadRectificationMainById" resultMap="rectificationMainExtMap">
		select a.id, a.enterprise_id, b.name as enterprise_name, b.address as enterprise_address, a.check_date, a.check_person, a.duty_unit, a.duty_person,
		a.finish_date, a.reviewed, a.recorded, a.remark, a.fill_unit, a.fill_person,
		c.id as link_id, c.situation_id as link_situation_id, c.method as link_method, c.part as link_part, c.rectificate_date as link_rectificate_date, c.remark as link_remark
		from rectification_main a
		left join enterprise b on a.enterprise_id=b.id
		left join rectification_link c on c.rectification_main_id=a.id
		where a.id=#{id}
	</select>
	<select id="loadCountByParams" resultType="int">
		select count(*) from rectification_main
	</select>
	<select id="loadRectificationMainBranchsByParams" resultMap="rectificationMainBranchMap" parameterType="Map">
		select a.id, b.name as enterprise_name, a.check_date, a.reviewed, a.recorded, a.remark, a.fill_unit, a.fill_person
		from rectification_main a
		left join enterprise b on a.enterprise_id=b.id
		order by a.check_date desc
		limit #{start}, #{pageSize}
	</select>
	<insert id="insertRectificationMain" parameterType="RectificationMain">
		insert into rectification_main(id, enterprise_id, check_date, check_person, duty_unit,
		duty_person, finish_date, reviewed, recorded, remark, fill_unit, fill_person)
		values(#{main.id}, #{main.enterpriseId}, #{main.checkDate}, #{main.checkPerson}, #{main.dutyUnit},
		#{main.dutyPerson}, #{main.finishDate}, #{main.reviewed}, #{main.recorded}, #{main.remark}, #{main.fillUnit}, #{main.fillPerson})
	</insert>
	<update id="modifyRectificationMain" parameterType="RectificationMain">
		update rectification_main
		set check_date=#{main.checkDate}, check_person=#{main.checkPerson}, duty_unit=#{main.dutyUnit},
		duty_person=#{main.dutyPerson}, finish_date=#{main.finishDate}, reviewed=#{main.reviewed}, recorded=#{main.recorded},
		remark=#{main.remark}, fill_unit=#{main.fillUnit}, fill_person=#{main.fillPerson}
		where id=#{main.id}
	</update>
	<delete id="delRectificationMainById">
		delete from rectification_main where id=#{id}
	</delete>
</mapper>